{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css">
    <link rel="stylesheet" href="{% static 'CSS/editprofile.css' %}">
    <link rel="icon" type="image/x-icon" href="{% static 'Images/spreadgreenicon.png' %}">
    <title>Reset password</title>
</head>
<body>
    <div  class="alert alert-primary"><h5>Reset your password</h5></div>
    <div class="my-3 mx-3">Forgotten your password? Enter your email address below, and we will send password reset link to your email.</div>
    <div class="my-3 mx-3">
        <form method="post">
            {% csrf_token %}

            {{form}}

            <div class="my-3"><input type="submit" value="Send email" class="btn btn-primary"></div>
        </form>
    </div>
</body>
</html>